!!! Strict
%html(lang="en" xmlns="http://www.w3.org/1999/xhtml")
  %head
    %meta(http-equiv="content-type" content="text/html; charset=UTF-8")
    %title #{(title ? title + " - " : "")}Blog of zTrix
    %meta(name="description" content="personal blog, zTrix")
    %link(href="/css/reset.css" rel="stylesheet")
    %link(href="/css/default.css" rel="stylesheet")
    %link(rel="alternate" type="application/rss+xml" title="RSS 2.0" href="/feed.xml")
    %link(href="/img/favicon.ico" rel="icon" type="image/x-icon")
  %body
    #container
      #header
        %a{href: "/"}
          %h1
            zTrix's Blog
      = content
      
      #footer
        %p Site Design and Code is &copy; 2011 to zTrix under MIT license. 
        %p Articles are copyrighted to zTrix under  
          %a{href: "http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en"} Creative Commons. 
        %p Wheat running on node #{process.version}
    :script
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-10996727-4']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
