p,body,div,pre,form,fieldset,legend,input,textarea,blockquote{margin:0;padding:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}caption,th{text-align:left;}

.str{color:#080}.kwd{color:#008}.com{color:#800}.typ{color:#606}.lit{color:#066}.pun{color:#660}.pln{color:#000}.tag{color:#008}.atn{color:#606}.atv{color:#080}.dec{color:#606}@media print{.str{color:#060}.kwd{color:#006;font-weight:bold}.com{color:#600;font-style:italic}.typ{color:#404;font-weight:bold}.lit{color:#044}.pun{color:#440}.pln{color:#000}.tag{color:#006;font-weight:bold}.atn{color:#404}.atv{color:#060}}

.clearfix {
    clear: both;
}

html {
    background: #1c1c1c url(/img/bg.tile.jpg);
    color: white;
}

a {
    color: #666666;
}

a:hover {
    color: #999999;
}

body {
    background: url(/img/bg.jpg) 50% 0 no-repeat;
    color: #333333;
    min-height: 600px;
}

#container {
    margin: 0px auto;
    width: 1030px;
}

#header {
    padding-top: 20px;
    color: white;
    font-size: 40px;
    font-family: Serial;
    margin: 0 0 10px 282px;
}

#header a {
    color: #fff;
    text-decoration: none;
}

#header #feed {
    width: 50px;
    float: right;
}

#main {
    width: 760px;
    float: left;
    min-height: 800px;
}

#main .date {
    float: right;
}

#main .intro, #main .article {
    background-color: white;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    margin-top: 20px;
    padding: 20px;
}


#main .intro .readmore {
    margin-top: 10px;
}

#main .intro .title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

#main .intro .comment-cnt {
    float: right;
}

#sidebar {
    float: right;
    width: 210px;
    background: white;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    margin-top: 20px;
    padding: 15px;
}

#footer {
    padding-top: 30px;
    clear: both;
    text-align: center;
    color: #8b8b8b;
}

#sidebar #author h1 {
    font-size: 16px;
}

#sidebar #author img {
    width: 130px;
    margin: auto;
    display: block;
    margin-bottom: 20px;
}

#sidebar dd ul {
  padding: 0;
}

#sidebar ul {
  padding: 0 0 0 10px;
  margin: 0;
}

#main #disqus_thread {
    margin-top: 50px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 15px;
    background-color: white;
}

#footer a.cc {
    margin-left: 5px;
}

#err {
    text-decoration: none;
    font-weight: bold;
    color: #b5b5b5;
}

#err .code {
    font-size: 240px;
}

#err .desc {
    font-size: 74px;
}

.article p {
    margin: 20px 0;
}

.article img {
    max-width: 100%;
}

.article > h1:first-child {
    margin-bottom: 15px;
}

